<div class="jumbotron" >
        <h1 class="text-center" >Censo</h1>
    </div>
    <div class="container" >
    
        <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="input-group">
                        <span class="input-group-btn">
                                <a [routerLink]="['/cadastro']" class="btn btn-primary">
                                    Nova Familia
                                </a>
                        </span>
                        <input class="form-control"  placeholder="filtrar pelo sobrenome da familia">                        
                    </div> 
                </form>
            </div> <!-- fim col-md-12 -->
        </div> <!-- fim row -->
        <br>

        <div class="row" >
            <painel *ngFor="let familia of familias " class="col-md-2" >
                <h1>{{familia.sobreNome}}</h1>
            </painel>            
        </div>
    
    </div>
    